*.o
*.a
*main.log
*main.obj
*.tlog
.cache/
.coreml/
.test/
.vs/
.vscode/
.DS_Store
.vimspector.json
/CMakeSettings.json
build/
build-*/
*.log
*.obj
*.pbd
*.ilk
*models/


# SPM
.build/
.swiftpm
*.metallib

/main
/stream
/command
/talk
/talk-llama
/bench
/quantize
/server
/lsp

whisper.dir/arm_neon.h
whisper.dir/sync.sh
whisper.dir/libwhisper.a
whisper.dir/libwhisper.so
whisper.dir/compile_commands.json

whisper.dir/examples/arm_neon.h
whisper.dir/examples/whisper.objc/whisper.objc.xcodeproj/xcshareddata
whisper.dir/examples/whisper.objc/whisper.objc.xcodeproj/xcuserdata/
whisper.dir/examples/whisper.objc/whisper.objc.xcodeproj/project.xcworkspace/xcuserdata

whisper.dir/extra/bench-gg.txt

whisper.dir/models/*.mlmodel
whisper.dir/models/*.mlmodelc
whisper.dir/models/*.mlpackage
whisper.dir/bindings/java/.gradle/
whisper.dir/bindings/java/.idea/
.idea/

whisper.dir/benchmark_results.csv
whisper.dir/cmake-build-debug/
.cxx/
.gradle/
whisper.dir/local.properties
build_folder/examples/common.dir/Release/common.vcxproj.FileListAbsolute.txt
build_folder/examples/main/main.dir/Release/main.vcxproj.FileListAbsolute.txt
build_folder/ggml/src/ggml.dir/Release/ggml.vcxproj.FileListAbsolute.txt
build_folder/src/whisper.dir/Release/whisper.vcxproj.FileListAbsolute.txt
build_folder/x64/Release/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build_folder/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build_folder/src/whisper.dir/Debug/whisper.vcxproj.FileListAbsolute.txt
build_folder/ggml/src/ggml.dir/Debug/ggml.vcxproj.FileListAbsolute.txt
build_folder/examples/main/main.dir/Debug/main.vcxproj.FileListAbsolute.txt
build_folder/examples/common.dir/Debug/common.vcxproj.FileListAbsolute.txt
